<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <h1>Welcome {{ username }}!</h1>
    <p>Your role is: {{ role }}</p>
    <a href="{{ url_for('logout.logout') }}">
        <button class="action-button">Log out</button>
    </a>
    <br>
    <a href="{{ url_for('profile.profile', user=username) }}">
        <button class="action-button">Profile</button>
    </a>
    {% if role == 'admin' %}
        <br>
        <a href="{{ url_for('avatars.avatars') }}">
            <button class="action-button" >Avatar Managment</button>
        </a>
    {% endif %}
</body>
</html>
